<div class="container">
  <button class="btn btn-primary" onclick="history.back()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
    </svg>
  </button>
  <form [formGroup]="formGroup">
    <h1>Create User</h1>
    <div fxLayout="row" fxLayoutGap="20px" fxLayout.xs="column">
      <div fxLayout="column">
        <mat-form-field appearance="outline" class="field">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" id="firstName" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" id="lastName" />
        </mat-form-field>
      </div>

      <div fxLayout="column">
        <mat-form-field appearance="outline" class="field">
          <mat-label>User Type</mat-label>
          <mat-select formControlName="userType" id="userType" class="small-input">
            <mat-option value="CUSTOMER">Customer</mat-option>
            <mat-option value="AGENT">Agent</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Date Of Birth</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" id="dateOfBirth" [max]="today" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="formGroup.controls['dateOfBirth'].hasError('max')">Invalid date</mat-error>
        </mat-form-field>


      </div>

      <div fxLayout="column">
        <mat-form-field appearance="outline" class="field">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" id="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" id="password" />
        </mat-form-field>
      </div>
    </div>
  </form>

  <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
    <button mat-raised-button color="primary" (click)="createCustomer()" id="createCustomerBtn"
      [disabled]="disableCreateCustomerButton">Signup</button>
    <button mat-raised-button color="primary" routerLink="/login">Login</button>
  </div>

  <br />

  <div *ngIf="createCustomerAPIResponse">{{ createCustomerAPIResponse }}</div>
</div>