<div class="container">
    <form [formGroup]="formGroup">
      <h1>Create Package</h1>
      <div fxLayout="column">

        <mat-form-field appearance="outline" class="field">
          <mat-label>Destination City</mat-label>
          <mat-select formControlName="destinationCity" id="destinationCity" class="small-input" (selectionChange)="filterHotelAndFlights($event.value)">
            <mat-option value="Toronto">Toronto</mat-option>
            <mat-option value="Vancouver">Vancouver</mat-option>
            <mat-option value="Montreal">Montreal</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Destination Country</mat-label>
          <mat-select formControlName="destinationCountry" id="destinationCountry" class="small-input">
            <mat-option value="Canada">Canada</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>No. of Days</mat-label>
          <input matInput type="number" formControlName="noOfDays" id="noOfDays" class="small-input" />
        </mat-form-field>
      </div>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Flight</mat-label>
          <mat-select formControlName="flightId" id="flightId" class="small-input">
            <mat-option *ngFor="let flight of allFlightsList" [value]="flight.id">
              {{ flight.source }} to {{ flight.destination }} - ${{ flight.pricePerSeat }} ({{ flight.airline }})
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Activities Included</mat-label>
          <mat-select formControlName="activityIdsIncluded" id="activityIdsIncluded" class="small-input" multiple>
            <mat-option *ngFor="let activity of allActivitiesList" [value]="activity.id">
              {{ activity.name }} - ${{ activity.pricePerPerson }}
            </mat-option>
          </mat-select>
        </mat-form-field>


    </form>

    <button mat-raised-button color="primary" (click)="createPackage()" id="createPackageBtn">Create Package</button>

    <br />

    <div *ngIf="createPackageAPIResponse !== undefined">{{ createPackageAPIResponse }}</div>
  </div>
