<div class="container" *ngIf="!!loggedUser">
    <button class="btn btn-primary" onclick="history.back()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
        </svg>
    </button>
    <h1>Update Profile</h1>

    <form [formGroup]="formGroup">
        <div>
            <mat-form-field appearance="outline" class="field">
                <mat-label>User Id</mat-label>
                <input matInput type="number" id="userId" class="small-input" [value]="loggedUser.id" readonly />
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline" class="field">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" id="firstName" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="field">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" id="lastName" />
            </mat-form-field>

            <br>

            <mat-form-field appearance="outline" class="field">
                <mat-label>Date Of Birth</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" id="dateOfBirth" [max]="today" />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="field">
                <mat-label>Email</mat-label>
                <input matInput type="email" id="email" [value]="loggedUser.email" readonly />
            </mat-form-field>

            <mat-form-field appearance="outline" class="field">
                <mat-label>User Type</mat-label>
                <input matInput type="text" id="userType" [value]="loggedUser.userType" readonly />
            </mat-form-field>

        </div>
    </form>

    <button mat-raised-button color="primary" (click)="updateProfile()" id="updateProfileBtn"
        [disabled]="disableUpdateProfileButton">Update Profile</button>

    <br />

</div>